{% from '::flash.html.twig' import session_flash %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <title>Piwi-Web Beheerpaneel - {% block title %}{% endblock %}</title>

    {% block stylesheets %}
        <link type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" rel="stylesheet" />
        {% stylesheets
            output="css/style.css"
            filter="less,cssrewrite"
            'http://fonts.googleapis.com/css?family=Lato:100,300,400,700'
            '../app/Resources/public/less/style.less'
            '../app/Resources/public/js/tags/jquery.tagsinput.css'
            '../app/Resources/public/js/uploadify/uploadify.css'
            '../app/Resources/public/js/elfinder/css/theme.css'

            '../app/Resources/public/css/se7en/font-awesome.css'
            '../app/Resources/public/css/se7en/se7en-font.css'
            '../app/Resources/public/css/se7en/isotope.css'
            '../app/Resources/public/css/se7en/jquery.fancybox.css'
            '../app/Resources/public/css/se7en/fullcalendar.css'
            '../app/Resources/public/css/se7en/wizard.css'
            '../app/Resources/public/css/se7en/select2.css'
            '../app/Resources/public/css/se7en/morris.css'
            '../app/Resources/public/css/se7en/datatables.css'
            '../app/Resources/public/css/se7en/pygments.css'
            '../app/Resources/public/css/se7en/style.css'
            '../app/Resources/public/css/se7en/color/green.css'
            '../app/Resources/public/css/se7en/color/orange.css'
            '../app/Resources/public/css/se7en/color/magenta.css'
            '../app/Resources/public/css/se7en/color/gray.css'
            '../app/Resources/public/js/bootstrap-datetimepicker/less/bootstrap-datetimepicker.less'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}
    {% endblock %}
</head>

<body>
    {% if app.user %}
        {% include '::menu.html.twig' %}
    {% endif %}

    <div class="container-fluid main-content">
        {% block flashes %}
            {% if app.session.flashbag.peekAll|length > 0 %}
                <div class="row">
                    <div id="flash" class="col-lg-12">
                        {{ session_flash() }}
                    </div>
                </div>
            {% endif %}
        {% endblock flashes %}

        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}
        {% javascripts '@application_js' combine=true
            '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
            '@MopaBootstrapBundle/Resources/public/bootstrap/js/affix.js'
            '@MopaBootstrapBundle/Resources/public/bootstrap/js/alert.js'
            '@MopaBootstrapBundle/Resources/public/bootstrap/js/button.js'
            '@MopaBootstrapBundle/Resources/public/bootstrap/js/carousel.js'
            '@MopaBootstrapBundle/Resources/public/bootstrap/js/collapse.js'
            '@MopaBootstrapBundle/Resources/public/bootstrap/js/dropdown.js'
            '@MopaBootstrapBundle/Resources/public/bootstrap/js/modal.js'
            '@MopaBootstrapBundle/Resources/public/bootstrap/js/popover.js'
            '@MopaBootstrapBundle/Resources/public/bootstrap/js/scrollspy.js'
            '@MopaBootstrapBundle/Resources/public/bootstrap/js/tab.js'
            '@MopaBootstrapBundle/Resources/public/bootstrap/js/transition.js'
            '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
            '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'

            '@PiwicmsSystemCoreBundle/Resources/public/js/ajax.js'
            '@PiwicmsSystemCoreBundle/Resources/public/highcharts/js/highcharts.js'
            '@PiwicmsSystemCoreBundle/Resources/public/highcharts/js/modules/exporting.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <script>
            $(document).ready(function() {
                $("body").bind({
                    ajaxStart: function() {
                        $(this).addClass("loading");
                    },
                    ajaxStop: function() {
                        $(this).removeClass("loading");
                    }
                });
            });
        </script>
        {{ elfinder_tinymce_init4() }}
        {{ tinymce_init() }}
    {% endblock %}

</body>
</html>