{% extends "PiwicmsAdminNewsletterBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .previewModal .modal-dialog {
            /* new custom width */
            width: 700px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '../src/Piwicms/Admin/NewsletterBundle/Resources/public/js/Newsletter/index.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function(){
            $(document).newsletterIndex({
                dataTable: $('#table'),
                dataTableContainer: $('#tableContainer'),
                // Routing
                ajaxDatatableRoute: 'piwicms_admin_newsletter_indexDatatable',
                editNewsletterRoute: 'piwicms_admin_newsletter_step1',
                deleteNewsletterRoute: 'piwicms_admin_newsletter_delete',
                previewNewsletterRoute: 'piwicms_admin_newsletter_preview',
                sendNewsletterRoute: 'piwicms_admin_newsletter_send_email',
                statsNewsletterRoute: 'piwicms_admin_newsletter_stats',
                // Translations
                editTrans: '{{ 'edit'|trans }}'
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-container">
                <div class="heading">
                    <i class="icon-list"></i>{{ 'newsletterbundle.newsletter.index.title'|trans }}
                </div>
                <div class="widget-content padded clearfix">
                    <table class="table table-bordered table-striped" id="table">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>{{ 'newsletterbundle.newsletter.index.table.title'|trans }}</th>
                            <th>{{ 'newsletterbundle.newsletter.index.table.date'|trans }}</th>
                            <th>{{ 'newsletterbundle.newsletter.index.table.createdby'|trans }}</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="widget-content padded clearfix">
                    <p><a href="{{ path('piwicms_admin_newsletter_step1') }}" class="btn btn-default">{{ 'new'|trans }}</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}