{% extends "PiwicmsAdminNewsletterBundle::layout.html.twig" %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '../src/Piwicms/Admin/NewsletterBundle/Resources/public/js/Newsletter/step2.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function(){
//            $(document).newsletterStep2();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1" id="newsletter">
                    <div class="widget-container">
                        <div class="heading">
                            {{ 'newsletterbundle.newsletter.step2.title'|trans }}
                        </div>
                        <div class="widget-content padded clearfix">
                            <p>{{ 'newsletterbundle.newsletter.step2.explanation'|trans|raw }}</p>
                            <form action="{{ path('piwicms_admin_newsletter_submit') }}" {{ form_enctype(form) }} method="POST" id="newsletterForm">
                                {{ form_widget(form.text) }}
                                {{ form_rest(form) }}
                                <input class="btn btn-default" type="submit" value="{{ 'submit'|trans }}" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}