{% extends "PiwicmsSystemUserBundle::layout.html.twig" %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '../src/Piwicms/System/UserBundle/Resources/public/js/groupList.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function(){
            $(document).groupList({
                dataTable: $('#table'),
                dataTableContainer: $('#tableContainer'),
                // Routing
                ajaxDatatableRoute: 'piwicms_admin_group_indexDatatable',
                editGroupRoute: 'piwicms_admin_group_edit',
                // Translations
                editTrans: 'Edit'
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-container">
                <div class="heading">
                    <i class="icon-list"></i>{{ 'userbundle.group.index.title'|trans }}
                </div>
                <div class="widget-content padded clearfix">
                    <table class="table table-bordered table-striped" id="table">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>{{ 'userbundle.group.index.name'|trans }}</th>
                            <th>{{ 'userbundle.group.index.roles'|trans }}</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="widget-content padded clearfix">
                    <p><a href="{{ path('piwicms_admin_vroup_new') }}" class="btn btn-primary">{{ 'new'|trans }}</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}