{% extends "PiwicmsSystemUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="widget-container">
                <div class="heading">
                    <i class="icon-plus"></i>{{ 'userbundle.group.new.title'|trans }}
                </div>
                <div class="widget-content padded clearfix">
                    <form action="{{ path('piwicms_admin_group_new') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal fos_group_profile_edit">
                        {{ form_widget(form) }}
                        <div class="form-group">
                            <div class="col-md-9">
                                <input class="btn" type="submit" value="{{ 'save'|trans }}" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}