{% extends "PiwicmsSystemUserBundle::layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="widget-container">
                <div class="heading">
                    <i class="icon-edit"></i>{{ 'userbundle.user.edit.title'|trans }} {{ entity.firstname }} {{ entity.middlename }} {{ entity.surname }}
                </div>
                <div class="widget-content padded clearfix">
                    <form action="{{ path('piwicms_admin_user_edit', { 'id': entity.id }) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal fos_user_profile_edit">
                        <input type="hidden" name="_method" id="_method" value="PUT">
                        {{ form_widget(form) }}
                        <input class="btn" type="submit" value="{{ 'save'|trans }}" />
                    </form>
                    <form action="{{ path('piwicms_admin_user_delete', { 'id': entity.id }) }}" method="post" class="form-horizontal">
                        <input type="hidden" name="_method" value="DELETE" />
                        {{ form_row(delete_form.id) }}
                        {{ form_row(delete_form._token) }}
                        {#<a class="btn btn-primary" href="{{ path('schedulecollection') }}">Back to the list</a>#}
                        <button type="submit" class="btn btn-danger"><i class="icon-remove"></i> {{ 'delete'|trans }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}