{% extends "PiwicmsSystemUserBundle::layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="widget-container">
                <div class="heading">
                    <i class="icon-plus"></i>{{ 'userbundle.user.new.title'|trans }}
                </div>
                <div class="widget-content padded clearfix">
                    <form action="{{ path('piwicms_admin_user_new') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal fos_user_profile_edit">
                        {{ form_widget(form) }}
                        <input class="btn" type="submit" value="{{ 'save'|trans }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}